.registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 1rem;
  padding: 20px;
  width: 50%;
  margin: auto;
}

input[type="date"] {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

h2 {
  padding: 10px 0px;
  text-transform: uppercase;
}

.btn-danger {
  width: 10vw;
  background-color: #cd485c;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 18px;
  color: #fff;
}

p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

p a:hover,
p a:active {
  text-decoration: underline;
}
