.signin-container {
  position: relative;
  top: 40%;
  transform: translate(0px, -50%);
}

.signin {
  background-color: hsl(200.39deg 88.4% 56.3%);
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  padding: 0 !important;
  margin: 0px !important;
  color: #ffff;
}

.title-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-text p {
  color: #ffff;
}

.form-container {
  border-radius: 10px;
  width: 35vw;
  margin: auto;
  background: #fff;
  padding: 40px;
}

@media screen and (min-width: 1440px) {
  .form-container {
    width: 20vw;
  }
}

@media only screen and (max-width: 1024px) {
  .form-container {
    width: 35vw;
  }
}

.form-container label {
  position: relative;
  top: 0px;

  text-align: left;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid #dfdcdc;
}

button.btn {
  padding: 10px;
  width: 100px;
  background-color: steelblue;
  border: none;
  color: #fff;
}

p.paraText {
  margin-top: 10px;
}

label {
  display: inline-grid;
  width: 100%;
  margin-bottom: 20px;
  color: steelblue;
}

input[type="email"]:focus {
  border: 2px solid steelblue;
}

.icon-section {
  margin: auto;
  width: 65px;
  height: 65px;
  padding: 10px;
  font-size: 32px;
  color: steelblue;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 134px;
  transform: translate(-50%, 0);
  left: 50%;
}

p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

p a:hover,
p a:active {
  text-decoration: underline;
}
